@charset "UTF-8";
/*! sanitize.css v3.2.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */
/* line 9, source/stylesheets/_init.scss */
audio:not([controls]) {
  display: none;
  /* Chrome 44-, iOS 8+, Safari 9+ */ }

/* line 13, source/stylesheets/_init.scss */
button {
  -webkit-appearance: button;
  /* iOS 8+ */
  overflow: visible;
  /* Internet Explorer 11- */ }

/* line 18, source/stylesheets/_init.scss */
details {
  display: block;
  /* Edge 12+, Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */ }

/* line 22, source/stylesheets/_init.scss */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */ }

/* line 28, source/stylesheets/_init.scss */
input {
  -webkit-border-radius: 0; }

/* line 32, source/stylesheets/_init.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* iOS 8+ */ }

/* line 38, source/stylesheets/_init.scss */
input[type="number"] {
  width: auto;
  /* Firefox 36+ */ }

/* line 42, source/stylesheets/_init.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Chrome 45+, Safari 9+ */ }

/* line 46, source/stylesheets/_init.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Chrome 45+, Safari 9+ */ }

/* line 51, source/stylesheets/_init.scss */
main {
  display: block;
  /* Android 4.3-, Internet Explorer 11-, Windows Phone 8.1+ */ }

/* line 55, source/stylesheets/_init.scss */
pre {
  overflow: auto;
  /* Internet Explorer 11- */ }

/* line 59, source/stylesheets/_init.scss */
progress {
  display: inline-block;
  /* Internet Explorer 11-, Windows Phone 8.1+ */ }

/* line 63, source/stylesheets/_init.scss */
small {
  font-size: 75%;
  /* All browsers */ }

/* line 67, source/stylesheets/_init.scss */
summary {
  display: block;
  /* Firefox 40+, Internet Explorer 11-, Windows Phone 8.1+ */ }

/* line 71, source/stylesheets/_init.scss */
svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */ }

/* line 75, source/stylesheets/_init.scss */
template {
  display: none;
  /* Android 4.3-, Internet Explorer 11-, iOS 7-, Safari 7-, Windows Phone 8.1+ */ }

/* line 79, source/stylesheets/_init.scss */
textarea {
  overflow: auto;
  /* Edge 12+, Internet Explorer 11- */ }

/* line 83, source/stylesheets/_init.scss */
[hidden] {
  display: none;
  /* Internet Explorer 10- */ }

/*
 * Universal inheritance
 */
/* line 91, source/stylesheets/_init.scss */
*,
:before,
:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/* line 97, source/stylesheets/_init.scss */
* {
  font-size: inherit;
  line-height: inherit; }

/* line 102, source/stylesheets/_init.scss */
:before,
:after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
/* specify the border style and width of all elements */
/* line 116, source/stylesheets/_init.scss */
*,
:before,
:after {
  border-style: solid;
  border-width: 0; }

/* specify the core styles of all elements */
/* line 125, source/stylesheets/_init.scss */
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }

/* specify the root styles of the document */
/* line 133, source/stylesheets/_init.scss */
:root {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  cursor: default;
  font: 100%/1.5 sans-serif; }

/* specify the text decoration of anchors */
/* line 143, source/stylesheets/_init.scss */
a {
  text-decoration: none; }

/* specify the alignment of media elements */
/* line 149, source/stylesheets/_init.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/* specify the background color of form elements */
/* line 160, source/stylesheets/_init.scss */
button,
input,
select,
textarea {
  background-color: transparent; }

/* specify the inherited color and font of form elements */
/* line 169, source/stylesheets/_init.scss */
button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

/* specify the minimum height of form elements */
/* line 181, source/stylesheets/_init.scss */
button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em; }

/* specify the font family of code elements */
/* line 205, source/stylesheets/_init.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

/* specify the list style of nav lists */
/* line 214, source/stylesheets/_init.scss */
nav ol,
nav ul {
  list-style: none; }

/* specify the standard appearance of selects */
/* line 221, source/stylesheets/_init.scss */
select {
  -moz-appearance: none;
  /* Firefox 40+ */
  -webkit-appearance: none; }

/* line 226, source/stylesheets/_init.scss */
select::-ms-expand {
  display: none;
  /* Edge 12+, Internet Explorer 11- */ }

/* line 230, source/stylesheets/_init.scss */
select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */ }

/* specify the border styling of tables */
/* line 236, source/stylesheets/_init.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* specify the resizability of textareas */
/* line 243, source/stylesheets/_init.scss */
textarea {
  resize: vertical; }

/* specify the background color, font color, and drop shadow of text selections */
/* line 249, source/stylesheets/_init.scss */
::-moz-selection {
  background-color: #b3d4fc;
  /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none; }

/* line 255, source/stylesheets/_init.scss */
::-moz-selection {
  background-color: #b3d4fc;
  /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none; }
::selection {
  background-color: #b3d4fc;
  /* required when declaring ::selection */
  color: #ffffff;
  text-shadow: none; }

/* specify the progress cursor of updating elements */
/* line 263, source/stylesheets/_init.scss */
[aria-busy="true"] {
  cursor: progress; }

/* specify the pointer cursor of trigger elements */
/* line 269, source/stylesheets/_init.scss */
[aria-controls] {
  cursor: pointer; }

/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
/* line 275, source/stylesheets/_init.scss */
[aria-disabled] {
  cursor: default; }

/* specify the style of visually hidden yet accessible elements */
/* line 281, source/stylesheets/_init.scss */
[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }

/* line 287, source/stylesheets/_init.scss */
[hidden][aria-hidden="false"]:focus {
  clip: auto; }

/* remove delay from tapping on clickable elements */
/* line 293, source/stylesheets/_init.scss */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }
/* line 17, source/stylesheets/_index.scss */
body, html {
  height: 100%;
  background: white;
  color: #444;
  font-size: 18px;
  position: fixed;
  width: 100%; }

/* line 25, source/stylesheets/_index.scss */
body {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none; }

/* line 35, source/stylesheets/_index.scss */
.wrapper {
  display: flex;
  height: 100%;
  justify-content: flex-end; }
  /* line 39, source/stylesheets/_index.scss */
  .wrapper .stock {
    flex-basis: 33%;
    height: 100%; }
  /* line 43, source/stylesheets/_index.scss */
  .wrapper .tab_wrap {
    flex-basis: 67%;
    height: 100%; }

/* line 1, source/stylesheets/_stock.scss */
.stock {
  border: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;
  overflow: scroll; }
  /* line 6, source/stylesheets/_stock.scss */
  .stock-head {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding: 20px 12%; }
    /* line 11, source/stylesheets/_stock.scss */
    .stock-head .reset_btn {
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-direction: row;
      color: #20AEE4;
      padding: 5px 20px;
      font-size: 14px; }
      /* line 16, source/stylesheets/_stock.scss */
      .stock-head .reset_btn img {
        width: 20px;
        height: 20px;
        margin-left: 2px; }
  /* line 24, source/stylesheets/_stock.scss */
  .stock-wrapper {
    height: calc(100% - 140px);
    overflow: scroll; }
  /* line 29, source/stylesheets/_stock.scss */
  .stock-body {
    border-top: 1px solid #d6d6d6;
    border-right: none;
    overflow: hidden; }
    /* line 34, source/stylesheets/_stock.scss */
    .stock-body-panel {
      display: flex;
      justify-content: normal;
      align-items: normal;
      flex-direction: row;
      position: relative;
      border-bottom: 1px solid #d6d6d6;
      -webkit-transition: .3s;
      transition: .3s; }
      /* line 39, source/stylesheets/_stock.scss */
      .stock-body-panel-wrapper {
        width: 100%;
        padding: 20px 12%; }
      /* line 44, source/stylesheets/_stock.scss */
      .stock-body-panel .background-blue {
        background: #90daff; }
      /* line 48, source/stylesheets/_stock.scss */
      .stock-body-panel .background-white {
        background: white;
        -webkit-transition: .3s;
        transition: .3s; }
      /* line 52, source/stylesheets/_stock.scss */
      .stock-body-panel-remove {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: absolute;
        right: -60px;
        top: -0px;
        width: 60px;
        height: 100%;
        background: #FA6456;
        color: white;
        font-size: 12px; }
      /* line 65, source/stylesheets/_stock.scss */
      .stock-body-panel-head {
        display: flex; }
        /* line 67, source/stylesheets/_stock.scss */
        .stock-body-panel-head .name {
          color: #666;
          font-size: 20px; }
        /* line 71, source/stylesheets/_stock.scss */
        .stock-body-panel-head .time {
          margin-left: auto;
          color: #999;
          font-size: 14px; }
      /* line 78, source/stylesheets/_stock.scss */
      .stock-body-panel-body {
        display: flex;
        justify-content: normal;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
        font-size: 20px;
        color: #555; }
        /* line 84, source/stylesheets/_stock.scss */
        .stock-body-panel-body .num {
          padding: 8px 10px;
          padding-left: 60px;
          border: 1px solid #d6d6d6;
          border-radius: 4px;
          position: relative; }
        /* line 91, source/stylesheets/_stock.scss */
        .stock-body-panel-body .mult {
          margin: 0 10px;
          color: #999;
          font-size: 20px; }
        /* line 96, source/stylesheets/_stock.scss */
        .stock-body-panel-body .value {
          padding: 8px 10px;
          padding-left: 80px;
          border: 1px solid #d6d6d6;
          border-radius: 4px; }
          /* line 101, source/stylesheets/_stock.scss */
          .stock-body-panel-body .value::before {
            content: "¥"; }
        /* line 105, source/stylesheets/_stock.scss */
        .stock-body-panel-body .triangle {
          position: absolute;
          border: 20px solid transparent;
          border-right: 15px solid #ffffff;
          z-index: 10;
          left: 0;
          top: 50%;
          display: none; }
  /* line 119, source/stylesheets/_stock.scss */
  .stock-foot {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    padding: 20px 12%;
    border: 1px solid #d6d6d6;
    border-right: none;
    height: 80px;
    margin-top: auto; }
    /* line 126, source/stylesheets/_stock.scss */
    .stock-foot .sum_num {
      font-size: 18px; }
      /* line 128, source/stylesheets/_stock.scss */
      .stock-foot .sum_num::after {
        color: #aaa;
        font-size: 12px;
        content: "点"; }
    /* line 134, source/stylesheets/_stock.scss */
    .stock-foot .sum_value {
      margin-left: auto;
      font-size: 24px; }
      /* line 137, source/stylesheets/_stock.scss */
      .stock-foot .sum_value::before {
        content: "¥"; }
      /* line 140, source/stylesheets/_stock.scss */
      .stock-foot .sum_value::after {
        color: #aaa;
        font-size: 12px;
        content: "(税込)"; }

/* line 2, source/stylesheets/_tab.scss */
.tab_wrap {
  width: 100%;
  height: 100%;
  margin: 0; }

/* line 8, source/stylesheets/_tab.scss */
.tab_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 120px;
  border-bottom: solid 1px #d6d6d6; }
  /* line 14, source/stylesheets/_tab.scss */
  .tab_area .tab_area_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 80%; }
    /* line 18, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper li {
      width: 33.3333%;
      list-style: none; }
      /* line 21, source/stylesheets/_tab.scss */
      .tab_area .tab_area_wrapper li .label {
        display: block;
        color: #20AEE4;
        padding: 12px 10px;
        width: 100%;
        border: solid 1px #20AEE4;
        font-size: 16px; }
    /* line 30, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper li.ui-state-hover .label {
      opacity: 0.8;
      background-color: #edfcff; }
    /* line 34, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper li.ui-tabs-active .label {
      background-color: #20AEE4;
      color: white; }
    /* line 39, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper .tab1_label {
      border-radius: 30px 0 0 30px;
      border-right: none !important; }
    /* line 43, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper .tab3_label {
      border-radius: 0 30px 30px 0;
      border-left: none !important; }
    /* line 47, source/stylesheets/_tab.scss */
    .tab_area .tab_area_wrapper .tab_area label:hover {
      opacity: 0.5; }

/* line 54, source/stylesheets/_tab.scss */
.panel_area {
  width: 100%;
  background: #fff;
  height: calc(100% - 120px); }
  /* line 58, source/stylesheets/_tab.scss */
  .panel_area .tab_panel {
    width: 100%;
    display: none; }

/* line 2, source/stylesheets/_menu.scss */
#panel1 {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  height: 100%; }
  /* line 5, source/stylesheets/_menu.scss */
  #panel1 .menu {
    height: calc(100% - 80px);
    display: flex; }

/* line 12, source/stylesheets/_menu.scss */
.menu-edit {
  display: flex;
  justify-content: normal;
  align-items: flex-start;
  flex-direction: column;
  width: 35%;
  border-right: 1px solid #d6d6d6; }
  /* line 17, source/stylesheets/_menu.scss */
  .menu-edit-body, .menu-edit-add_btn, .menu-edit-remove_btn {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding-left: 40px;
    background: #fff;
    border-left-color: #20AEE4;
    border-bottom: 1px solid #d6d6d6;
    font-size: 18px;
    color: #767676; }
    /* line 27, source/stylesheets/_menu.scss */
    .menu-edit-body .edit_btn, .menu-edit-add_btn .edit_btn, .menu-edit-remove_btn .edit_btn {
      width: 20px;
      margin-right: 10px; }
    /* line 31, source/stylesheets/_menu.scss */
    .menu-edit-body .add_btn, .menu-edit-add_btn .add_btn, .menu-edit-remove_btn .add_btn {
      width: 20px;
      margin-right: 10px;
      margin-left: 10px; }
    /* line 36, source/stylesheets/_menu.scss */
    .menu-edit-body .connecter, .menu-edit-add_btn .connecter, .menu-edit-remove_btn .connecter {
      height: 100%;
      margin-right: -10px; }
  /* line 42, source/stylesheets/_menu.scss */
  .menu-edit-add_btn, .menu-edit-remove_btn {
    font-size: 16px;
    padding-left: 60px;
    border-bottom: none;
    display: flex;
    align-items: flex-end;
    height: 65px;
    position: relative; }
    /* line 50, source/stylesheets/_menu.scss */
    .menu-edit-add_btn:before, .menu-edit-remove_btn:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 50px;
      width: 20px;
      height: calc(100% - .5em);
      border-left: 1px solid #767676; }
    /* line 59, source/stylesheets/_menu.scss */
    .menu-edit-add_btn:after, .menu-edit-remove_btn:after {
      content: "";
      position: absolute;
      top: 0px;
      left: 50px;
      width: 20px;
      height: calc(100% - .5em);
      border-bottom: 1px solid #767676; }
  /* line 71, source/stylesheets/_menu.scss */
  .menu-edit-add_btn:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50px;
    width: 20px;
    height: calc(100%);
    border-left: 1px solid #767676; }

/* line 83, source/stylesheets/_menu.scss */
.edit_input {
  -webkit-box-shadow: 0 0 4px 4px #edfcff;
          box-shadow: 0 0 4px 4px #edfcff;
  width: calc(100% - 1em); }

/* line 91, source/stylesheets/_menu.scss */
.menu-body {
  text-decoration: none;
  list-style: none;
  position: relative;
  overflow: scroll;
  width: 65% !important; }
  /* line 98, source/stylesheets/_menu.scss */
  .menu-body-list-item {
    border-bottom: 1px solid #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #fff;
    padding: 20px 12%;
    color: #555; }
    /* line 104, source/stylesheets/_menu.scss */
    .menu-body-list-item .value {
      margin-left: auto;
      display: flex; }
      /* line 107, source/stylesheets/_menu.scss */
      .menu-body-list-item .value::before {
        content: "¥"; }
    /* line 109, source/stylesheets/_menu.scss */
    .menu-body-list-item .trash {
      height: 20px;
      margin-left: 20px;
      display: none; }
  /* line 116, source/stylesheets/_menu.scss */
  .menu-body .edit_css .name, .menu-body .edit_css .value {
    border-bottom: 1px solid #d6d6d6; }
  /* line 120, source/stylesheets/_menu.scss */
  .menu-body .menu-placeholder {
    -webkit-box-shadow: 0 0 4px 4px #edfcff;
            box-shadow: 0 0 4px 4px #edfcff;
    padding: 20px 12%;
    background: #edfcff; }

/* line 129, source/stylesheets/_menu.scss */
.payment_btn {
  margin-top: auto;
  width: 100%;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  border-top: solid 1px #d6d6d6;
  padding-right: 8%;
  height: 80px; }
  /* line 138, source/stylesheets/_menu.scss */
  .payment_btn .payment-btn {
    color: white;
    width: 45%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
    background: #D8D8D8;
    border: solid 1px #d6d6d6;
    -webkit-box-shadow: 0 1px 0 0 #d6d6d6;
            box-shadow: 0 1px 0 0 #d6d6d6; }
  /* line 150, source/stylesheets/_menu.scss */
  .payment_btn .payment-btn-active {
    background: #20AEE4;
    border: solid 1px #2f97bf;
    -webkit-box-shadow: 0 1px 0 0 #2f97bf;
            box-shadow: 0 1px 0 0 #2f97bf; }

/* line 1, source/stylesheets/_tenkey.scss */
.tenkey {
  height: 100%; }
  /* line 3, source/stylesheets/_tenkey.scss */
  .tenkey th, .tenkey td {
    font-weight: normal;
    width: 33.333%;
    height: 20%;
    text-align: center;
    border: solid 1px #d6d6d6;
    font-size: 24px; }
  /* line 11, source/stylesheets/_tenkey.scss */
  .tenkey .remove {
    height: 30px;
    width: auto; }

/* line 1, source/stylesheets/_payment.scss */
.cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 3; }

/* line 12, source/stylesheets/_payment.scss */
.payment {
  position: absolute;
  top: 100%;
  left: 15%;
  width: 70%;
  height: 97%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #aaa;
  color: #555;
  font-size: 24px;
  display: none;
  z-index: 3; }
  /* line 26, source/stylesheets/_payment.scss */
  .payment-head {
    height: 25%;
    position: relative; }
    /* line 29, source/stylesheets/_payment.scss */
    .payment-head .close-btn {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 40px;
      height: 40px; }
    /* line 37, source/stylesheets/_payment.scss */
    .payment-head-name {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 20%;
      color: #444;
      font-size: 18px;
      border-bottom: 1px solid #d6d6d6; }
    /* line 44, source/stylesheets/_payment.scss */
    .payment-head-value {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      height: 80%;
      font-size: 90px;
      font-weight: 500;
      border-bottom: solid 1px #d6d6d6;
      color: #565656; }
      /* line 51, source/stylesheets/_payment.scss */
      .payment-head-value::before {
        content: "¥"; }
  /* line 55, source/stylesheets/_payment.scss */
  .payment-body {
    height: 62%;
    display: flex; }
    /* line 58, source/stylesheets/_payment.scss */
    .payment-body-cash {
      width: 50%;
      background: white; }
      /* line 61, source/stylesheets/_payment.scss */
      .payment-body-cash-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        padding: 8%;
        border-bottom: solid 1px #d6d6d6; }
        /* line 65, source/stylesheets/_payment.scss */
        .payment-body-cash-wrapper .name {
          color: #aaa;
          font-size: 20px; }
        /* line 69, source/stylesheets/_payment.scss */
        .payment-body-cash-wrapper .value {
          margin-left: auto;
          font-size: 30px; }
          /* line 72, source/stylesheets/_payment.scss */
          .payment-body-cash-wrapper .value::before {
            content: "¥"; }
    /* line 79, source/stylesheets/_payment.scss */
    .payment-body .tenkey {
      width: 50%;
      background: white; }
  /* line 84, source/stylesheets/_payment.scss */
  .payment-foot {
    height: 13%;
    display: flex;
    background: #eeeeee;
    border-radius: 10px; }
    /* line 89, source/stylesheets/_payment.scss */
    .payment-foot .unpaid {
      color: #FA6456; }
    /* line 92, source/stylesheets/_payment.scss */
    .payment-foot-charge {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      padding: 4%;
      width: 50%; }
      /* line 96, source/stylesheets/_payment.scss */
      .payment-foot-charge .name {
        font-size: 20px; }
      /* line 99, source/stylesheets/_payment.scss */
      .payment-foot-charge .value {
        margin-left: auto;
        font-size: 30px; }
        /* line 102, source/stylesheets/_payment.scss */
        .payment-foot-charge .value::before {
          content: "¥"; }
    /* line 108, source/stylesheets/_payment.scss */
    .payment-foot-finish {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      width: 50%;
      padding-right: 2%; }
      /* line 112, source/stylesheets/_payment.scss */
      .payment-foot-finish .finish-btn {
        color: white;
        padding: 10px 0;
        width: 98%;
        text-align: center;
        font-size: 24px;
        border-radius: 6px;
        font-weight: bold;
        background: #D8D8D8;
        border: solid 1px #d6d6d6;
        -webkit-box-shadow: 0 1px 0 0 #d6d6d6;
                box-shadow: 0 1px 0 0 #d6d6d6; }
      /* line 124, source/stylesheets/_payment.scss */
      .payment-foot-finish .finish {
        background: #20AEE4;
        border: solid 1px #2f97bf;
        -webkit-box-shadow: 0 1px 0 0 #2f97bf;
                box-shadow: 0 1px 0 0 #2f97bf; }

/* line 1, source/stylesheets/_custom.scss */
#panel2 {
  height: calc(100% - 80px); }

/* line 7, source/stylesheets/_custom.scss */
.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 0; }
  /* line 13, source/stylesheets/_custom.scss */
  .custom-head {
    height: 20%;
    width: 70%;
    border: solid 1px #d6d6d6;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    padding-right: 5%; }
    /* line 20, source/stylesheets/_custom.scss */
    .custom-head-value {
      font-size: 60px;
      color: #565656; }
      /* line 23, source/stylesheets/_custom.scss */
      .custom-head-value::before {
        content: "¥"; }
  /* line 27, source/stylesheets/_custom.scss */
  .custom .custom-tenkey-wrapper {
    height: calc(100% - 80px);
    width: calc(70% + 20px); }
  /* line 32, source/stylesheets/_custom.scss */
  .custom-tenkey {
    height: 100%;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 10px; }
    /* line 37, source/stylesheets/_custom.scss */
    .custom-tenkey .remove {
      width: 40px; }
    /* line 40, source/stylesheets/_custom.scss */
    .custom-tenkey th, .custom-tenkey td {
      font-weight: normal;
      width: 25%;
      padding: 10px;
      text-align: center;
      border: solid 1px #d6d6d6;
      border-bottom: solid 2px #d6d6d6;
      font-size: 24px;
      border-radius: 4px;
      background: #f7f7f7;
      color: #888; }

/* line 3, source/stylesheets/_history.scss */
.history {
  overflow: auto; }
  /* line 5, source/stylesheets/_history.scss */
  .history .history-table {
    width: 100%; }
  /* line 8, source/stylesheets/_history.scss */
  .history th, .history td {
    padding: 20px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #d6d6d6;
    background: #fff; }

/* line 19, source/stylesheets/_history.scss */
thead th {
  padding: 20px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #d6d6d6;
  background: #f7f7f7;
  font-size: 14px; }

/* line 28, source/stylesheets/_history.scss */
.history tbody {
  font-size: 14px; }
  /* line 31, source/stylesheets/_history.scss */
  .history tbody td:nth-child(n+4)::after {
    content: "個";
    font-size: 12px;
    margin-left: 2px; }
  /* line 38, source/stylesheets/_history.scss */
  .history tbody .合計::before, .history tbody .お預かり::before {
    content: "¥"; }

/* line 1, source/stylesheets/_mtenkey.scss */
.mtenkey {
  position: absolute;
  background: #fff;
  left: 50%;
  top: 30%;
  z-index: 9;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #555;
  -webkit-box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.05);
  display: none; }
  /* line 14, source/stylesheets/_mtenkey.scss */
  .mtenkey-head {
    padding-right: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 15px 0; }
    /* line 20, source/stylesheets/_mtenkey.scss */
    .mtenkey-head-value {
      font-size: 32px; }
  /* line 25, source/stylesheets/_mtenkey.scss */
  .mtenkey-tenkey {
    height: 100%;
    width: 100%; }
    /* line 28, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey .remove {
      width: 30px; }
    /* line 31, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey .confirm {
      color: #20AEE4;
      font-size: 18px; }
    /* line 35, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey .mtenkey-tenkey-ac {
      background: #fcfcfc; }
    /* line 38, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey th, .mtenkey-tenkey td {
      font-weight: normal;
      width: 90px;
      height: 66px;
      text-align: center;
      border: solid .1px #ececec;
      font-size: 22px;
      border-radius: 4px;
      background: white; }
    /* line 48, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey td:first-child {
      border-left: none; }
    /* line 51, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey td:last-child {
      border-right: none; }
    /* line 54, source/stylesheets/_mtenkey.scss */
    .mtenkey-tenkey tr:last-child td, .mtenkey-tenkey .confirm {
      border-bottom: none; }
